/* CSS file for coloured table data */
.leveltemp_0 { background-color: #0000cc; color: white }
.leveltemp_1 { background-color: #035CB5; color: white }
.leveltemp_2 { background-color: #10AFE4; }
.leveltemp_3 { background-color: #00FFC4; }
.leveltemp_4 { background-color: #07EA57; }
.leveltemp_5 { background-color: #C8FB11; }
.leveltemp_6 { background-color: #FFDE00; }
.leveltemp_7 { background-color: #FF9933; }
.leveltemp_8 { background-color: #F65A17; color: white }
.leveltemp_9 { background-color: #DA103C; color: white }
.levelrain_0 { background-color: #94939A; }
.levelrain_1 { background-color: #918AA7; }
.levelrain_2 { background-color: #CCFFFF; }
.levelrain_3 { background-color: #99FFCC; }
.levelrain_4 { background-color: #9EDFFD; }
.levelrain_5 { background-color: #9AACFF; }
.levelrain_6 { background-color: #7980FF; }
.levelrain_7 { background-color: #3F48F9; color: white }
.levelrain_8 { background-color: #010EFE; color: white }
.levelrain_9 { background-color: #050EAB; color: white }
.levelrain_10 { background-color: #050D97; color: white }
.levelrain_11 { background-color: #0B0B3B; color: white }
.levelwind_0 { background-color: #D9FDFC; }
.levelwind_1 { background-color: #B1FFFF; }
.levelwind_2 { background-color: #66FF94; }
.levelwind_3 { background-color: #99FF00; }
.levelwind_4 { background-color: #99CC00; }
.levelwind_5 { background-color: #CCCC00; }
.levelwind_6 { background-color: #FFCC00; }
.levelwind_7 { background-color: #FF9900; }
.levelwind_8 { background-color: #FF6600; }
.levelwind_9 { background-color: #FF0000; color: #C4C9C2 }
.levelhumi_0 { background-color: #F3E2A9; }
.levelhumi_1 { background-color: #F7D358; }
.levelhumi_2 { background-color: #FFBF00; }
.levelhumi_3 { background-color: #D7DF01; }
.levelhumi_4 { background-color: #A5DF00; }
.levelhumi_5 { background-color: #74DF00; }
.levelhumi_6 { background-color: #31B404; }
.levelhumi_7 { background-color: #329511; }
.levelhumi_8 { background-color: #0B6121; color: #C4C9C2 }
.levelpres_0 { background-color: #0000cc; color: white }
.levelpres_1 { background-color: #035CB5; color: white }
.levelpres_2 { background-color: #10AFE4; }
.levelpres_3 { background-color: #00FFC4; }
.levelpres_4 { background-color: #07EA57; }
.levelpres_5 { background-color: #C8FB11; }
.levelpres_6 { background-color: #FFDE00; }
.levelpres_7 { background-color: #FF9933; }
.levelpres_8 { background-color: #F65A17; color: white }
.levelpres_9 { background-color: #DA103C; color: white }
.levelcond_0 { background-color: #efe; }
.levelcond_1 { background-color: #ded; }
.levelcond_2 { background-color: #cdc; }
.levelcond_3 { background-color: #bdc; }
.levelcond_4 { background-color: #aba; }
.levelcond_5 { background-color: #9a9; }
.levelcond_6 { background-color: #898; }
.levelcond_7 { background-color: #787; color: white }
.levelcond_8 { background-color: #676; color: white }
.levelcond_9 { background-color: #565; color: white }